<ion-header>
  <ion-toolbar>
    <ion-title class="logo">Kunal Bhatti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%; display: flex; align-content: center; align-items: center">
      <ion-col class="ion-text-center" size="12">Page Not Found</ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" size="12" (click)="navigateBack()">
          <small>Go Back</small>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
