<ion-header>
  <ion-toolbar>
    <ion-title class="logo">Kunal Bhatti</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="projects" [routerLink]="['/', 'admins', 'control-panel', 'projects']"
      routerLinkActive="tab-selected">
      <ion-icon name="code-slash-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" [routerLink]="['/', 'admins', 'control-panel', 'messages']"
      routerLinkActive="tab-selected">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge>{{unreadCount}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
