<ion-header>
  <ion-toolbar>
    <ion-title>Send Mail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%; width: 100%;">
    <ion-row style="height: 100%" class="ion-align-items-center">
      <ion-col>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-item>
            <ion-label position="floating">To</ion-label>
            <ion-input name="email" [ngModel]="message.email" email required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Subject</ion-label>
            <ion-input name="subject" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Message</ion-label>
            <ion-textarea rows="18" name="body" ngModel required [placeholder]="'Hello ' + (message.name | titlecase) + ','"></ion-textarea>
          </ion-item>
          <ion-button type="submit" expand="block" [disabled]="f.invalid">Send</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
